# https://github.com/alexkaratarakis/gitattributes/blob/master/Unity.gitattributes
# https://en.wikipedia.org/wiki/List_of_open_file_formats
# https://stackoverflow.com/questions/74817835/how-do-i-add-gdscript-to-gitattributes

# create macro for binary files wildcard
[attr]BIN filter=lfs diff=lfs merge=lfs -text

# Godot
*.gd text=auto
*.godot text=auto
*.tres text=auto
*.tscn text=auto
*.cfg text=auto
*.import text=auto

# other text
*.md text=auto

# we need to manually list the binary files we don't want modified.

# binary ======================================
    # images --------------------------------
        # raster images
            *.art BIN
            *.blp BIN
            *.bmp BIN
            *.bti BIN
            *.cd5 BIN
            *.cit BIN
            *.cpt BIN
            *.cr2 BIN
            *.clip BIN
            *.cpl BIN
            *.dds BIN
            *.dib BIN
            *.djvu BIN
            *.egt BIN
            *.exif BIN
            *.gif BIN
            *.grf BIN
            *.icns BIN
            *.ico BIN
            *.iff BIN
            *.ilbm BIN
            *.lbm BIN
            *.iff BIN
            *.jng BIN
            *.jfif BIN
            *.jpg BIN
            *.jpeg BIN
            *.jp2 BIN
            *.jps BIN
            *.kra BIN
            *.lbm BIN
            *.max BIN
            *.miff BIN
            *.mng BIN
            *.msp BIN
            *.nitf BIN
            *.otb BIN
            *.pbm BIN
            *.pc1 BIN
            *.pc2 BIN
            *.pc3 BIN
            *.pcf BIN
            *.pcx BIN
            *.pdn BIN
            *.pgm BIN
            *.pi1 BIN
            *.pi2 BIN
            *.pi3 BIN
            *.pict BIN
            *.pct BIN
            *.png BIN
            *.pnm BIN
            *.pns BIN
            *.ppm BIN
            *.psb BIN
            *.psd BIN
            *.pdd BIN
            *.psp BIN
            *.px BIN
            *.pxm BIN
            *.pxr BIN
            *.qfx BIN
            *.raw BIN
            *.rle BIN
            *.sct BIN
            *.sgi BIN
            *.rgb BIN
            *.int BIN
            *.bw BIN
            *.tga BIN
            *.targa BIN
            *.icb BIN
            *.vda BIN
            *.vst BIN
            *.pix BIN
            *.tiff BIN
            *.tif BIN
            *.vtf BIN
            *.xbm BIN
            *.xcf BIN
            *.xpm BIN
            *.zif BIN

        # Vector graphics
            *.3dv BIN
            *.amf BIN
            *.awg BIN
            *.ai BIN
            *.cgm BIN
            *.cdr BIN
            *.cmx BIN
            *.dp BIN
            *.drawio BIN
            *.dxf BIN
            *.e2d BIN
            *.egt BIN
            *.eps BIN
            *.fs BIN
            *.gbr BIN
            *.odg BIN
            *.movie.byu BIN
            *.renderman BIN
            *.svg BIN
            *.3dmlw BIN
            *.stl BIN
            *..wrl BIN
            *.x3d BIN
            *.sxd BIN
            *.tgax BIN
            *.v2d BIN
            *.vdoc BIN
            *.vsd BIN
            *.vsdx BIN
            *.vnd BIN
            *.wmf BIN
            *.emf BIN
            *.art BIN
            *.xar BIN

    # audio --------------------------------

        # Uncompressed audio
        *.8svx BIN
        *.16svx BIN
        *.aiff BIN
        *.aif BIN
        *.aifc BIN
        *.au BIN
        *.bwf BIN
        *.cdda BIN
        *.dsf BIN
        *.dff BIN
        *.raw BIN
        *.wav BIN

        # Compressed Audio
        *.ra BIN
        *.rm BIN
        *.flac BIN
        *.la BIN
        *.pac BIN
        *.ape BIN
        *.ofr BIN
        *.ofs BIN
        *.off BIN
        *.rka BIN
        *.shn BIN
        *.tak BIN
        *.thd BIN
        *.tta BIN
        *.wv BIN
        *.wma BIN
        *.brstm BIN
        *.dts BIN
        *.dtshd BIN
        *.dtsma BIN
        *.dts BIN
        *.ast BIN
        *.aw BIN
        *.psf BIN

        # Lossy audio
        *.ac3 BIN
        *.amr BIN
        *.mp1 BIN
        *.mp2 BIN
        *.mp3 BIN
        *.spx BIN
        *.gsm BIN
        *.wma BIN
        *.aac BIN
        *.mpc BIN
        *.vqf BIN
        *.ots BIN
        *.swa BIN
        *.vox BIN
        *.voc BIN
        *.dwd BIN
        *.smp BIN
        *.ogg BIN

    # 3d graphics -----------------------------
        *.3dmf BIN
        *.3dm BIN
        *.3mf BIN
        *.3ds BIN
        *.abc BIN
        *.ac BIN
        *.amf BIN
        *.an8 BIN
        *.aoi BIN
        *.asm BIN
        *.b3d BIN
        *.blend BIN
        *.block BIN
        *.bmd3 BIN
        *.bdl4 BIN
        *.brres BIN
        *.bfres BIN
        *.c4d BIN
        *.cal3d BIN
        *.ccp4 BIN
        *.cfl BIN
        *.cob BIN
        *.core3d BIN
        *.ctm BIN
        *.dae BIN
        *.dff BIN
        *.dpm BIN
        *.dts BIN
        *.egg BIN
        *.fact BIN
        *.fbx BIN
        *.g BIN
        *.glb BIN
        *.glm BIN
        *.gltf BIN
        *..hec BIN
        *.io BIN
        *.iob BIN
        *.jas BIN
        *.jmesh BIN
        *.ldr BIN
        *.lwo BIN
        *.lws BIN
        *.lxf BIN
        *.lxo BIN
        *.m3d BIN
        *.ma BIN
        *.max BIN
        *.mb BIN
        *.mpd BIN
        *.md2 BIN
        *.md3 BIN
        *.md5 BIN
        *.mdx BIN
        *.mesh BIN
        *.mesh BIN
        *.miobject BIN
        *.miparticle BIN
        *.mimodel BIN
        *.mm3d BIN
        *.mpo BIN
        *.mrc BIN
        *.nif BIN
        *.obj BIN
        *.off BIN
        *.ogex BIN
        *.ply BIN
        *.prc BIN
        *.prt BIN
        *.pov BIN
        *.r3d BIN
        *.rwx BIN
        *.sia BIN
        *.sib BIN
        *.skp BIN
        *.sldasm BIN
        *.sldprt BIN
        *.smd BIN
        *.u3d BIN
        *.usd BIN
        *.usda BIN
        *.usdc BIN
        *.usdz BIN
        *.vim BIN
        *.vrml97 BIN
        *.vue BIN
        *.vwx BIN
        *.wings BIN
        *.w3d BIN
        *.x BIN
        *.x3d BIN
        *.z3d BIN
        *.zbmx BIN

    # fonts
        *.abf BIN
        *.afm BIN
        *.bdf BIN
        *.bmf BIN
        *.brfnt BIN
        *.fnt BIN
        *.fon BIN
        *.mgf BIN
        *.otf BIN
        *.pcf BIN
        *.pfa BIN
        *.pfb BIN
        *.pfm BIN
        *.afm BIN
        *.fond BIN
        *.sfd BIN
        *.snf BIN
        *.tdf BIN
        *.tfm BIN
        *.ttf BIN
        *.ttc BIN
        *.ufo BIN
        *.woff BIN


        # Video
        *.asf  BIN
        *.avi  BIN
        *.flv  BIN
        *.mov  BIN
        *.mp4  BIN
        *.mpeg BIN
        *.mpg  BIN
        *.ogv  BIN
        *.wmv  BIN

    # other binary files
        *.bak BIN
        *.bk BIN
        *.bin BIN
        *.dat BIN
        *.dsk BIN
        *.raw BIN
        *.szh BIN
        *.hex BIN